@font-face {
    font-family: 'FiraCode-Bold';
    src: url('./FiraCode-Bold.ttf') format("woff2");
}

@font-face {
    font-family: 'FiraCode-Light';
    src: url('./FiraCode-Light.ttf') format("woff2");
}

@font-face {
    font-family: 'FiraCode-Medium';
    src: url('./FiraCode-Medium.ttf') format("woff2");
}

@font-face {
    font-family: 'FiraCode-Regular';
    src: url('./FiraCode-Regular.ttf') format("woff2");
}

@font-face {
    font-family: 'FiraCode-SemiBold';
    src: url('./FiraCode-SemiBold.ttf') format("woff2");
}