$primary-color: #3DCFB6;
$secondary-color: #FFFFFF;

section {
    width: 100%;
    max-width: 1440px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // padding: 32px;

    .contact-wrapper {
        width: 100%;
        max-width: 1248px;
        height: 560px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1100px) {
            flex-direction: column;
            gap: 40px;
            height: auto;
        }

        @media (max-width: 660px) {
            gap: 20px;
        }

        .left-wrapper {
            width: 100%;
            max-width: 560px;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 16px;

            @media (max-width: 1200px) {
                gap: 20px;
            }

            @media (max-width: 1100px) {
                max-width: 1100px;
            }

            @media (max-width: 660px) {
                gap: 10px;
            }

            .title-container {
                width: 100%;
                max-width: 560px;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;

                @media (max-width: 1100px) {
                    max-width: 1100px;
                }

                @media (max-width: 660px) {
                    gap: 10px;
                }

                .title-contact-me {
                    font-size: 24px;
                    color: $primary-color;
                    font-family: "Karla-Light";

                    @media (max-width: 660px) {
                        font-size: 20px;
                    }
                }

                .title-work-together {
                    font-size: 56px;
                    color: $primary-color;
                    font-family: "FiraCode-Bold";
                    font-weight: bold;

                    @media (max-width: 1200px) {
                        font-size: 48px;
                    }

                    @media (max-width: 660px) {
                        font-size: 36px;
                    }
                }
            }

            .got-a-problem-container {
                width: 100%;
                max-width: 560px;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 16px;

                @media (max-width: 1100px) {
                    max-width: 1100px;
                }

                .got-a-problem {
                    font-size: 24px;
                    color: $primary-color;
                    font-family: "FiraCode-Bold";

                    @media (max-width: 660px) {
                        font-size: 20px;
                    }
                }

                .contact-through-form, .need-dev, .lets-talk {
                    font-size: 16px;
                    color: $secondary-color;
                    font-family: "Karla-Light";

                    @media (max-width: 660px) {
                        font-size: 14px;
                    }
                }

                .contact-through-form {
                    text-align: justify;
                }

                .need-dev-container {


                    .lets-talk {
                        color: $primary-color;
                        font-weight: bold;
                        font-family: "Karla-Regular";
                    }
                }
            }
        }

        .right-wrapper {
            width: 100%;
            max-width: 600px;
            height: 560px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;

            @media (max-width: 1100px) {
                max-width: 1100px;
            }

            @media (max-width: 460px) {
                margin-bottom: 48px;
            }

            .contact-form-container {
                width: 100%;

                >form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 600px;
                    height: 560px;
                    gap: 12px;

                    @media (max-width: 1100px) {
                        max-width: 1100px;
                    }

                    .contact-form-top-wrapper {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;

                        .your-name-container, .your-email-container, .how-can-i-help-container {
                            width: 100%;
                            height: 136px;
                            border: 1px solid #3DCFB680;
                            border-left: 0px;
                            border-right: 0px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            padding: 16px;

                            &:hover {
                                border-color: $primary-color;
                            }

                            .your-name, .your-email, .how-can-i-help {
                                font-size: 24px;
                                color: $primary-color;
                                font-family: "FiraCode-Medium";

                                @media (max-width: 660px) {
                                    font-size: 20px;
                                }
                            }

                            .your-name-input, .your-email-input, .how-can-i-help-input {
                                font-size: 18px;
                                font-family: "Karla-Light";
                                color: $secondary-color;
                                outline: none;
                                border: none;
                                background-color: transparent;

                                @media (max-width: 660px) {
                                    font-size: 16px;
                                }

                                &::placeholder {
                                    color: #FFFFFFCC;
                                }
                            }

                            .how-can-i-help-input {
                                min-width: 568px;
                                max-width: 568px;
                                min-height: 48px;
                                max-height: 200px;

                                @media (max-width: 1100px) {
                                    max-width: 1100px;
                                }

                                @media (max-width: 660px) {
                                    min-width: 0;
                                }
                            }

                            .your-name-required, .your-email-required, .how-can-i-help-required {
                                font-size: 18px;
                                font-family: "Karla-Light";
                                color: #EC7B7BCC;
                                display: none;

                                @media (max-width: 660px) {
                                    font-size: 16px;
                                }
                            }
                        }

                        .how-can-i-help-container {
                            height: auto;
                            max-height: 336px;
                        }
                    }

                    .contact-form-bottom-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .privacy-policy-container {
                            display: flex;
                            flex-direction: column;

                            .check-privacy-policy-container {
                                display: flex;
                                align-items: center;
                                gap: 8px;

                                .checkbox-container {
                                    display: flex;
                                    align-items: center;
                                    cursor: pointer;

                                    .privacy-policy-checkbox {
                                        width: 0;
                                        height: 0;
                                        opacity: 0;
                                    }
                                }
                                
                                .text-container {
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: 4px;
                                    width: auto;
                                    cursor: default;
    
                                    .privacy-policy-text {
                                        font-family: "Karla-Light";
                                        font-size: 15px;
                                        color: $secondary-color;

                                        @media (max-width: 660px) {
                                            font-size: 13px;
                                        }
                                    }
    
                                    .privacy-policy {
                                        font-family: "FiraCode-Light";
                                        font-size: 15px;
                                        color: $primary-color;
                                        text-decoration: none;
                                        cursor: pointer;

                                        @media (max-width: 660px) {
                                            font-size: 13px;
                                        }

                                        &:hover {
                                            color: $secondary-color;
                                        }
                                    }
                                }
                            }

                            .privacy-policy-required {
                                font-family: "Karla-Light";
                                font-size: 14px;
                                color: #EC7B7B;
                                display: none;

                                @media (max-width: 660px) {
                                    font-size: 12px;
                                }
                            }
                        }

                        .submit-container {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .submit-btn {
                                width: 140px;
                                height: 48px;
                                margin-top: 24px;
                                background-color: transparent;
                                font-family: "Karla-Light";
                                font-size: 18px;
                                color: #FFFFFFCC;
                                border: 1px solid #FFFFFF80;
                                border-radius: 24px;
                                cursor: pointer;

                                @media (max-width: 660px) {
                                    font-size: 16px;
                                }
                            }

                            .disabled-btn {
                                &:hover {
                                    border-color: red;
                                    color: red;
                                    cursor: not-allowed;
                                }
                            }

                            .activated-btn {
                                &:hover {
                                    border-color: $primary-color;
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pop-up-msg-box {
    width: 400px;
    height: 200px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Karla-Regular";
    font-size: 32px;
    color: $primary-color;
    background: #1C1C1C;
    text-align: center;
    border-radius: 24px;
    border: 1px solid $primary-color;
    position: absolute;
    top: 270px;
    right: 8.5%;

    @media (max-width: 980px) {
        top: 434px;
        right: 28.5%;
    }

    @media (max-width: 800px) {
        right: 25.5%;
    }

    @media (max-width: 700px) {
        right: 22.5%;
    }

    @media (max-width: 650px) {
        top: 398px;
        right: 19.5%;
    }

    @media (max-width: 600px) {
        right: 16.5%;
    }

    @media (max-width: 550px) {
        right: 13.5%;
    }

    @media (max-width: 500px) {
        right: 5%;
    }

    @media (max-width: 450px) {
        top: 416px;
        right: 9.5%;
        width: 350px;
        height: 180px;
        font-size: 28px;
    }

    @media (max-width: 400px) {
        top: 428px;
        right: 5%;
        height: 160px;
    }

    @media (max-width: 380px) {
        width: 300px;
        font-size: 24px;
        right: 9.5%;
    }

    @media (max-width: 350px) {
        right: 6%;
    }

    @media (max-width: 330px) {
        width: 280px;
    }

    @media (max-width: 325px) {
        top: 438px;
        right: 5%;
    }

    &.animate {
        animation: popUpAnimation 3s ease-out forwards;
        display: flex;
    }
}

@keyframes popUpAnimation {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    40% {
        opacity: 1;
        transform: scale(1.05);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.7);
    }
}