<section id="contactMe">
    <div class="contact-wrapper">
        <div class="left-wrapper">
            <div class="title-container">
                <span class="title-contact-me"> {{'app.contact_me.contact_me' | translate}} </span>
                <span class="title-work-together"> {{'app.contact_me.title' | translate}} </span>
            </div>
            <div class="got-a-problem-container">
                <span class="got-a-problem"> {{'app.contact_me.got_problem' | translate}} </span>
                <span class="contact-through-form"> {{'app.contact_me.contact_through_form' | translate}} </span>
                <div class="need-dev-container">
                    <span class="need-dev"> {{'app.contact_me.need_dev' | translate}} </span>
                    <span class="lets-talk"> {{'app.contact_me.lets_talk' | translate}} </span>
                </div>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="contact-form-container">
                <form (ngSubmit)="sendMail()">
                    <!-- <div class="line"></div> -->
                    <label for="name">
                        {{'app.contact_me.your_name' | translate}}
                        <span><!--! In der Language json muss noch für die required text was hinzugefügt werden --></span>
                    </label>
                    <input type="text" name="name">

                    <!-- <div class="line"></div> -->
                    <label for="email">
                        {{'app.contact_me.your_name' | translate}}
                        <span><!--! In der Language json muss noch für die required text was hinzugefügt werden --></span>
                    </label>
                    <input type="text" name="email">

                    <!-- <div class="line"></div> -->
                    <label for="message">
                        {{'app.contact_me.your_name' | translate}}
                        <span><!--! In der Language json muss noch für die required text was hinzugefügt werden --></span>
                    </label>
                    <input type="textarea" name="message">
                </form>
            </div>
        </div>
    </div>
</section>