<section id="contactMe">
    <div class="contact-wrapper">
        <div class="left-wrapper">
            <div class="title-container">
                <span class="title-contact-me"> {{'app.contact_me.contact_me' | translate}} </span>
                <span class="title-work-together"> {{'app.contact_me.title' | translate}} </span>
            </div>
            <div class="got-a-problem-container">
                <span class="got-a-problem"> {{'app.contact_me.got_problem' | translate}} </span>
                <span class="contact-through-form"> {{'app.contact_me.contact_through_form' | translate}} </span>
                <div class="need-dev-container">
                    <span class="need-dev"> {{'app.contact_me.need_dev' | translate}} </span>
                    <span class="lets-talk"> {{'app.contact_me.lets_talk' | translate}} </span>
                </div>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="contact-form-container">
                <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                    <div class="contact-form-top-wrapper">

                        <div class="your-name-container">
                            <label class="your-name" for="name">
                                {{'app.contact_me.your_name' | translate}}
                            </label>
                            <input 
                            id="name" 
                            class="your-name-input" 
                            type="text" name="name" 
                            [placeholder]="'app.contact_me.your_name_placeholder' | translate"
                            (focus)="onNameFocus()"
                            (blur)="onNameBlur()"
                            [(ngModel)]="contactData.name">
                            <span class="your-name-required">
                                {{'app.contact_me.your_name_required' | translate}}
                            </span>
                        </div>

                        <div class="your-email-container">
                            <label class="your-email" for="email">
                                {{'app.contact_me.your_email' | translate}}
                            </label>
                            <input
                            id="email" 
                            class="your-email-input" 
                            type="text" name="email" 
                            [placeholder]="'app.contact_me.your_email_placeholder' | translate"
                            (focus)="onEmailFocus()"
                            (blur)="onEmailBlur()"
                            (keyup)="checkEmailValidation()"
                            [(ngModel)]="contactData.email">
                            <span class="your-email-required">
                                {{'app.contact_me.your_email_required' | translate}}
                            </span>
                        </div>

                        <div class="how-can-i-help-container">
                            <label class="how-can-i-help" for="message">
                                {{'app.contact_me.how_can_i_help' | translate}}
                            </label>
                            <textarea 
                            id="message" 
                            class="how-can-i-help-input" 
                            type="textarea" 
                            name="message" 
                            [placeholder]="'app.contact_me.how_can_i_help_placeholder' | translate"
                            (focus)="onMessageFocus()"
                            (blur)="onMessageBlur()"
                            [(ngModel)]="contactData.message"></textarea>
                            <span class="how-can-i-help-required">
                                {{'app.contact_me.how_can_i_help_required' | translate}}
                            </span>
                        </div>
                    </div>

                    <div class="contact-form-bottom-wrapper">

                        <div class="privacy-policy-container">
                            <div class="check-privacy-policy-container">
                                <div class="checkbox-container">
                                    <img
                                    [src]="checkboxImg"
                                    (mouseover)="checkboxMouseOver()"
                                    (mouseleave)="checkboxMouseLeave()"
                                    (click)="toggleCheckbox()">
                                    <input
                                    id="checkbox" 
                                    class="privacy-policy-checkbox" 
                                    type="checkbox" 
                                    name="checkbox">
                                </div>
                                <div class="text-container">
                                    <span class="privacy-policy-text"> {{'app.contact_me.check_box_first_part' | translate}} </span>
                                    <a routerLink="/privacy-policy" class="privacy-policy"> {{'app.contact_me.privacy_policy' | translate}} </a>
                                    <span class="privacy-policy-text"> {{'app.contact_me.check_box_second_part' | translate}} </span>
                                </div>
                            </div>
                            <span class="privacy-policy-required">
                                {{'app.contact_me.privacy_policy_required' | translate}}
                            </span>
                        </div>

                        <div class="submit-container">
                            <button class="submit-btn" type="submit" [disabled]="!formIsValid()"> {{'app.contact_me.say_hello' | translate}} </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>