@font-face {
    font-family: 'Karla-Bold';
    src: url('./Karla-Bold.ttf') format("woff2");
}

@font-face {
    font-family: 'Karla-Light';
    src: url('./Karla-Light.ttf') format("woff2");
}

@font-face {
    font-family: 'Karla-Medium';
    src: url('./Karla-Medium.ttf') format("woff2");
}

@font-face {
    font-family: 'Karla-Regular';
    src: url('./Karla-Regular.ttf') format("woff2");
}

@font-face {
    font-family: 'Karla-SemiBold';
    src: url('./Karla-SemiBold.ttf') format("woff2");
}