$primary-color: #3DCFB6;
$secondary-color: #FFFFFF;

header {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'FiraCode-Regular';
    color: white;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13.56%, rgba(0, 0, 0, 0.6) 84.01%);
    position: fixed;
    top: 0;
    z-index: 900;
}

.content-wrapper {
    width: 100%;
    max-width: 1440px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 96px;
    padding-right: 96px;
    position: relative;

    @media (max-width: 660px) {
        padding-left: 48px;
        padding-right: 48px;
    }

    @media (max-width: 500px) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (max-width: 360px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    >nav {
        width: auto;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        cursor: pointer;
        font-size: 20px;

        >div {

            >a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

.slide-toggle-container {
    width: 84px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $primary-color;
    border-radius: 14px;

    &:hover {
        border-color: white;
    }
}

.slide-toggle-en {
    width: 45px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    font-size: 16px;

    &.active {
        font-weight: bold;
    }
}

.slide-toggle-de {
    width: 41px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    font-size: 16px;

    &.active {
        font-weight: bold;
    }
}

.logo-wrapper {
    width: 132px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 124px;
        height: 48px;
        cursor: pointer;
    }
}

.slide-toggle-container {
    &.en-selected {
        .slide-toggle-en {
            background-color: $primary-color;
            color: white;
            cursor: default;
            border: 1px solid $primary-color;
        }

        .slide-toggle-de {
            background-color: transparent;
            color: #3DCFB680;
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
                color: $primary-color;
            }
        }
    }

    &.de-selected {
        .slide-toggle-en {
            width: 40px;
            background-color: transparent;
            cursor: pointer;
            color: #3DCFB680;
            transition: color 0.3s;

            &:hover {
                color: $primary-color;
            }
        }

        .slide-toggle-de {
            width: 44px;
            background-color: $primary-color;
            color: white;
            border: 1px solid $primary-color;
        }
    }
}

nav div a {
    position: relative;
    text-decoration: none;
}

nav div a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: $primary-color;
    border-radius: 50%;
    opacity: 0;
}

nav div a:hover::after {
    opacity: 1;
}

.logo-wrapper-mobile {
    width: 80px;
    height: 48px;
    display: none;
    justify-content: center;
    align-items: center;

    img {
        // width: 124px;
        height: 56px;
        cursor: pointer;
    }
}

.burger-menu {
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    >span {
        width: 40px;
        height: 2px;
        background-color: $secondary-color;
        transition: all 0.3s ease;
    }

    &:hover {
        >span {
            background-color: $primary-color;
        }
    }
}

.mobile-overlay {
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: #0000007d;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;

    .mobile-menu-wrapper {
        width: 240px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
        border: 1px solid $primary-color;
        border-radius: 24px;
        position: absolute;
        top: 100px;
        right: 100px;

        @media (max-width: 660px) {
            top: 80px;
            right: 50px;
        }

        @media (max-width: 500px) {
            right: 25px;
        }

        @media (max-width: 360px) {
            right: 15px;
        }
    
        >nav {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 16px;
            font-size: 20px;
            cursor: pointer;
    
            >a {
                text-decoration: none;
                color: $secondary-color;
    
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .menu-wrapper, .logo-wrapper, .logo {
        display: none;
    }

    .logo-wrapper-mobile, .burger-menu, .logo-mobile {
        display: flex;
    }
}