<header>
    <div class="content-wrapper">
        <div class="menu-wrapper">
            <div
            class="slide_toggle_container" 
            [ngClass]="{'en-selected': !isEnglish, 'de-selected': isEnglish}">
                <div 
                class="slide-toggle-en" 
                [ngClass]="{'active': !isEnglish}"
                (click)="translate.switchLanguage('en'); toggleLanguageBtnStyle('EN'); toggleLanguage()">
                    <span>EN</span>
                </div>
                <div 
                class="slide-toggle-de" 
                [ngClass]="{'active': isEnglish}"
                (click)="translate.switchLanguage('de'); toggleLanguageBtnStyle('DE'); toggleLanguage()">
                    <span>DE</span>
                </div>
            </div>

            <nav>
                <div>
                    <a href="#aboutMe">{{ 'app.header.about_me' | translate }}</a>
                </div>

                <div>
                    <a href="#skills">{{ 'app.header.skills' | translate }}</a>
                </div>

                <div>
                    <a href="#portfolioProjects">{{ 'app.header.projects' | translate }}</a>
                </div>
            </nav>

        </div>

        <div class="logo-wrapper">
            <a href="#landingPage">
                <img 
                [src]="logoImgSrc" 
                (mouseover)="logoImgSrc = './assets/img/logo_not_filled.png'"
                (mouseout)="logoImgSrc = './assets/img/logo_filled.png'"
                class="logo" alt="logo">
            </a>
        </div>
    </div>
</header>