<header>
    <div class="content-wrapper">
        <div class="menu-wrapper">
            <div
            class="slide_toggle_container" 
            [ngClass]="{'en-selected': isEnglish, 'de-selected': !isEnglish}">
                <div 
                class="slide-toggle-en" 
                [ngClass]="{'active': isEnglish}"
                (click)="toggleLanguage('EN')">
                    <span>EN</span>
                </div>
                <div 
                class="slide-toggle-de" 
                [ngClass]="{'active': !isEnglish}"
                (click)="toggleLanguage('DE')">
                    <span>DE</span>
                </div>
            </div>

            <nav>
                <div>
                    <a href="#aboutMe">About me</a>
                </div>

                <div>
                    <a href="#skills">Skills</a>
                </div>

                <div>
                    <a href="#projects">Projects</a>
                </div>
            </nav>

        </div>

        <div class="logo-wrapper">
            <a href="#landingPage">
                <img class="logo" src="../../../assets/img/logo_filled.png" alt="logo">
            </a>
        </div>
    </div>
</header>