$primary-color: #3DCFB6;

header {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'FiraCode-Regular';
    color: white;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13.56%, rgba(0, 0, 0, 0.6) 84.01%);
}

.content-wrapper {
    width: 1440px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    >nav {
        width: auto;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        cursor: pointer;
        font-size: 20px;

        >div {

            >a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

.slide_toggle_container {
    width: 84px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $primary-color;
    border-radius: 14px;

    &:hover {
        border-color: white;
    }
}

.slide-toggle-en {
    width: 45px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    font-size: 16px;

    &.active {
        font-weight: bold;
    }
}

.slide-toggle-de {
    width: 41px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    font-size: 16px;

    &.active {
        font-weight: bold;
    }
}

.logo-wrapper {
    width: 132px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 124px;
        height: 48px;
        cursor: pointer;
    }
}

.slide_toggle_container {
    &.en-selected {
        .slide-toggle-en {
            background-color: $primary-color;
            color: white;
            cursor: default;
            border: 1px solid $primary-color;
        }

        .slide-toggle-de {
            background-color: transparent;
            color: #3DCFB680;
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
                color: $primary-color;
            }
        }
    }

    &.de-selected {
        .slide-toggle-en {
            width: 40px;
            background-color: transparent;
            cursor: pointer;
            color: #3DCFB680;
            transition: color 0.3s;

            &:hover {
                color: $primary-color;
            }
        }

        .slide-toggle-de {
            width: 44px;
            background-color: $primary-color;
            color: white;
            border: 1px solid $primary-color;
        }
    }
}

nav div a {
    position: relative;
    text-decoration: none;
}

nav div a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: $primary-color;
    border-radius: 50%;
    opacity: 0;
}

nav div a:hover::after {
    opacity: 1;
}