<section id="portfolioProjects">
    <div class="projects-wrapper">
        <div class="left-wrapper">
            <div class="headings">
                <h5>Portfolio</h5>

                <h3> {{'app.portfolio_projects.featured_projects' | translate}} </h3>
            </div>

            <span class="explore_work"> {{'app.portfolio_projects.explore_work' | translate}} </span>

            <div class="projects">
                @for (project of portfolioProjects; track $index) {

                    <div class="single-project">
                        <h4 class="project-title"> {{ project.projectName }} </h4>
                        <div class="stack">
                            @for (stack of project.techStack; track $index) {
                                <span> {{ stack }} </span>
                                <span> | </span>
                            }
                        </div>
                    </div>

                }
                
            </div>
        </div>
    </div>
</section>

