<section id="portfolioProjects">
    <div class="projects-wrapper">
        <div class="left-wrapper">
            <div class="info">
                <div class="headings">
                    <h5>Portfolio</h5>
    
                    <h3> {{'app.portfolio_projects.featured_projects' | translate}} </h3>
                </div>
    
                <span class="explore_work"> {{'app.portfolio_projects.explore_work' | translate}} </span>
    
            </div>

            <div class="projects">
                @for (project of portfolioProjects; track $index) {

                    <div class="single-project"
                        (mouseover)="onProjectHover(project.projectName)"
                        (mouseout)="onProjectHover(null)"
                        (click)="toggleOverlay(true)">
                        
                        <div class="title-container">
                            <h4 class="project-title"> {{ project.projectName }} </h4>
                            
                            @if(currentHoveredProject === project.projectName) {
                                <img class="arrow"
                                src="./assets/icon/projects_arrow.png">
                            }
                            <!--! Overlay ist auch nicht richtig -->
                        </div>
                        
                        <div class="stack">
                            <span [innerHTML]="formatTechStackString(project.techStack)"></span>
                        </div>
                    </div>

                }
                
            </div>
        </div>

        <div class="right-wrapper">
            <div class="join-img-container">
                <img class="join-img" 
                    [ngStyle]="{'display': currentHoveredProject === 'Join' ? 'block' : 'none'}"
                    src="./assets/img/portfolio-projects/join_placeholder.jpg" 
                    alt="">
                <img class="join-img-background" 
                    [ngStyle]="{'display': currentHoveredProject === 'Join' ? 'block' : 'none'}"
                    src="./assets/img/about_me_hover.png" 
                    alt="">
            </div>

            <div class="pollo-loco-img-container">
                <img class="pollo-loco-img" 
                    [ngStyle]="{'display': currentHoveredProject === 'El Pollo Loco' ? 'block' : 'none'}"
                    src="./assets/img/portfolio-projects/pollo_loco_placeholder.jpg" 
                    alt="">
                <img class="pollo-loco-img-background" 
                    [ngStyle]="{'display': currentHoveredProject === 'El Pollo Loco' ? 'block' : 'none'}"
                    src="./assets/img/about_me_hover.png" 
                    alt="">
            </div>
        </div>
    </div>

    <div class="portfolio-projects-overlay"
        [ngStyle]="{'display': showOverlay == true ? 'flex':'none'}"
        (click)="toggleOverlay(false)">

        <div class="single-project-overlay-wrapper"
            (click)="$event.stopPropagation()">

            <div class="single-project-overlay-container">
                <div class="close-overlay">

                </div>

                <div class="single project">
                    <div class="project-info">

                    </div>
    
                    <div class="project-img">
                        
                    </div>
                </div>

                <div class="next-project">
                    
                </div>
            </div>
        </div>
    </div>
</section>

