<section>
    <div class="about-me-wrapper">
        <div>
            <img src="" alt="">
        </div>

        <div class="about-me-container">
            <div>
                <span>Who I am</span>
            </div>

            <div class="about-me">
                <div>
                    <h3>About me</h3>
                </div>

                <div>
                    <span>About me Text</span>
                </div>

                <div>
                    <div>
                        <img src="" alt="">
                        <span>location</span>
                    </div>

                    <div>
                        <img src="" alt="">
                        <span>open minded</span>
                    </div>

                    <div>
                        <img src="" alt="">
                        <span>my profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>