$primary-color: #3DCFB6;
$secondary-color: #FFFFFF;
$secondary-color-hover: #FFFFFFCC;

section {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Karla-Regular";

    @media (max-width: 900px) {
        height: auto;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.about-me-wrapper {
    width: 100%;
    max-width: 1200px;
    height: 720px;
    display: flex;
    justify-content: center;
    gap: 120px;
    cursor: default;

    @media (max-width: 1250px) {
        gap: 100px;
    }

    @media (max-width: 1150px) {
        gap: 85px;
    }

    @media (max-width: 1050px) {
        gap: 70px;
    }

    @media (max-width: 970px) {
        gap: 55px;
    }

    @media (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .image-container {
        width: 568px;
        height: 568px;
        /* mit neuem Bild von mir, muss ausgegraut werden
            object-fit: cover; etc. evtl? */
        position: relative;

        @media (max-width: 1250px) {
            width: 500px;
            height: 500px;
        }

        @media (max-width: 1150px) {
            width: 470px;
            height: 470px;
        }

        @media (max-width: 1050px) {
            width: 440px;
            height: 440px;
        }

        @media (max-width: 970px) {
            width: 410px;
            height: 410px;
        }

        @media (max-width: 900px) {
            width: 450px;
            height: 450px;
        }

        @media (max-width: 500px) {
            width: 400px;
            height: 400px;
        }

        @media (max-width: 420px) {
            width: 350px;
            height: 350px;
        }

        @media (max-width: 370px) {
            width: 310px;
            height: 310px;
        }

        @media (max-width: 340px) {
            width: 280px;
            height: 280px;
        }
        
        >img {
            height: 100%;
            object-fit: cover;
            position: relative;
            z-index: 2;
        }

        &::before {
            content: "";
            position: absolute;
            top: 24px;
            right: 24px;
            width: 100%;
            height: 100%;
            background-image: url('../../../assets/img/about_me_hover.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0;
            z-index: 1;
        }

        &:hover::before {
            opacity: 1;
        }
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: left;
        gap: 20px;

        .outer-text-container {
            color: $primary-color;
            font-size: 24px;
        }

        .about-me-container {
            min-width: 300px;
            max-width: 568px;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: start;
            background: #3DCFB61A;
            border: 1px solid #3DCFB6;
            backdrop-filter: blur(4px);
            border-radius: 30px;
            gap: 24px;
            padding: 24px;

            @media (max-width: 1250px) {
                max-width: 500px;
            }

            @media (max-width: 1150px) {
                max-width: 470px;
            }
    
            @media (max-width: 1050px) {
                max-width: 440px;
            }
    
            @media (max-width: 970px) {
                max-width: 410px;
            }

            @media (max-width: 900px) {
                max-width: 450px;
            }

            @media (max-width: 500px) {
                max-width: 400px;
            }
    
            @media (max-width: 420px) {
                max-width: 350px;
            }
    
            @media (max-width: 370px) {
                max-width: 310px;
            }
    
            @media (max-width: 340px) {
                max-width: 280px;
            }

            .about-me-headline-container {

                .about-me-headline {
                    color: $primary-color;
                    font-size: 56px;

                    @media (max-width: 500px) {
                        font-size: 48px;
                    }

                    @media (max-width: 400px) {
                        font-size: 40px;
                    }
                }
            }

            .about-me-text-content-container {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 24px;

                .about-me-introduction-container {
                    width: 100%;
                    height: auto;
                    text-wrap: wrap;
                    text-align: justify;

                    .about-me-introduction {
                        color: $secondary-color;
                        font-size: 16px;
                        font-family: "Karla-Light";

                        @media (max-width: 480px) {
                            font-size: 14px;
                        }
                    }
                }

                .about-me-informations-container {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .work-flexibility-container,
                    .work-cognition-container,
                    .work-quality-container {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: start;
                        gap: 8px;
                        text-wrap: wrap;
                        text-align: justify;

                        .information-icon {
                            width: 28px;
                            height: 28px;
                        }
    
                        .work-flexibility-text,
                        .work-cognition-text,
                        .work-quality-text {
                            color: $secondary-color-hover;
                            font-size: 16px;
                            font-family: "Karla-Light";

                            @media (max-width: 480px) {
                                font-size: 14px;
                            }

                            &:hover {
                                color: $secondary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}