<section id="aboutMe">
    <div class="about-me-wrapper">
        <div class="image-container">
            <img src="./assets/img/image.jpeg" alt="">
        </div>

        <div class="text-container">
            <div class="outer-text-container">
                <span>{{'app.about_me.who' | translate }}</span>
            </div>

            <div class="about-me-container">

                <div class="about-me-headline-container">
                    <h3 class="about-me-headline">{{'app.about_me.about_me' | translate }}</h3>
                </div>

                <div class="about-me-text-content-container">
                    <div class="about-me-introduction-container">
                        <span class="about-me-introduction"> {{'app.about_me.about_me_text' | translate}} </span>
                    </div>

                    <div class="about-me-informations-container">
                        <div class="work-flexibility-container">
                            <img class="information-icon" src="./assets/icon/location_on.png" alt="">
                            <span class="work-flexibility-text"> {{'app.about_me.work_flexibility' | translate}} </span>
                        </div>
    
                        <div class="work-cognition-container">
                            <img class="information-icon" src="./assets/icon/cognition.png" alt="">
                            <span class="work-cognition-text"> {{'app.about_me.work_cognition' | translate}} </span>
                        </div>
    
                        <div class="work-quality-container">
                            <img class="information-icon" src="./assets/icon/quality.png" alt="">
                            <span class="work-quality-text"> {{'app.about_me.work_quality' | translate}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


