<section id="aboutMe">
    <div class="about-me-wrapper">
        <div class="image-container">
            <img src="./assets/img/placeholder-image.png" alt="">
        </div>

        <div class="about-me-wrapper">
            <div class="outer-text-container">
                <span>Who I am</span>
            </div>

            <div class="about-me-container">
                <div>
                    <h3>About me</h3>
                </div>

                <div>
                    <span>Hi, I’m a german speaking Frontend Developer based in Munich. Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications.</span>
                </div>

                <div>
                    <div>
                        <img src="./assets/icon/location_on.png" alt="">
                        <span>Flexible in terms of working environments, I can work effectively both on-site in Munich and remotely.</span>
                    </div>

                    <div>
                        <img src="./assets/icon/cognition.png" alt="">
                        <span>I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</span>
                    </div>

                    <div>
                        <img src="./assets/icon/quality.png" alt="">
                        <span>In my profession, programming isn't just about writing code; it's a creative form of problem-solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


