$primary-color: #3DCFB6;
$secondary-color: #FFFFFF;

// .en-padding {
//     padding-top: 227px;
// }

// .de-padding {
//     padding-top: 150px;
// }

section {
    width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Karla-Regular";
}

.about-me-wrapper {
    width: 1200px;
    height: 720px;
    display: flex;
    gap: 120px;
    cursor: default;

    .image-container {
        width: 568px;
        height: 568px;
        /* mit neuem Bild von mir, muss ausgegraut werden
            object-fit: cover; etc. evtl? */
        
        // &:hover {
        //     background-image: url("../../../assets/img/about_me_hover.png");
        //     position: absolute;
        //     top: 24px;
        //     left: 24px;
        // } //! Fix, nur eine grobe idee 
    }


    

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: left;
        gap: 20px;

        .outer-text-container {
            color: $primary-color;
            font-size: 24px;
        }

        .about-me-container {
            min-width: 300px;
            max-width: 568px;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: start;
            background: #3DCFB61A;
            border: 1px solid #3DCFB6;
            backdrop-filter: blur(4px);
            border-radius: 30px;
            gap: 24px;
            padding: 24px;

            .about-me-headline-container {

                .about-me-headline {
                    color: $primary-color;
                    font-size: 58px;
                }
            }

            .about-me-text-content-container {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 24px;

                .about-me-introduction-container {
                    width: 100%;
                    height: auto;
                    text-wrap: wrap;
                    text-align: justify;

                    .about-me-introduction {
                        color: $secondary-color;
                        font-size: 16px;
                        font-family: "Karla-Light";
                    }
                }

                .about-me-informations-container {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .work-flexibility-container,
                    .work-cognition-container,
                    .work-quality-container {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: start;
                        gap: 8px;
                        text-wrap: wrap;
                        text-align: justify;

                        .information-icon {
                            width: 28px;
                            height: 28px;
                        }
    
                        .work-flexibility-text,
                        .work-cognition-text,
                        .work-quality-text {
                            color: #FFFFFFCC;
                            font-size: 16px;
                            font-family: "Karla-Light";

                            &:hover {
                                color: $secondary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}


