<app-header></app-header>

<app-landing-page></app-landing-page>
<app-main-content></app-main-content>

<router-outlet></router-outlet>

<app-footer></app-footer>

<!--! Komplettes Grundgerüst für die Übersetzung aufsetzen -->
<!--! toggleLanguage() function im header muss evtl. in die App -->
<!--! oder so, mal gucken und testen bzw. googlen wie man eine -->
<!--! variable / function exportieren kann und überalle nutzen kann -->
<!--! bzw. wie man evtl. global 2 states machen kann für EN & DE -->
<!--TODO: MBY muss bzw. kann das übern service gemacht werden, aufjedenfall anschauen!!! -->