<!-- <div class="header-wrapper">
    <app-header></app-header>
</div> -->

<app-header></app-header>

<app-landing-page></app-landing-page>
<app-main-content></app-main-content>

<router-outlet></router-outlet>

<app-footer></app-footer>

<!--! Struktur anschauen und umbauen, KOMPLETT, ggf muss die index einmal angepasst -->
<!--! werden und der header muss evtl wie der footer eine einzeln stehende component -->
<!--! in der app sein, damit er beim scrollen auch wieder auftaucht etc. dann erst -->
<!--! noch die landing page responsive machen bevor ich mit dem about me teil weiter -->
<!--! mache bzw. richtig anfange. das EN / DE muss auch nochmal richtig angeschaut werden! -->
