<section>
    <div class='legal-notice'>
        <div class="legal-notice-button-container">
            <a routerLink="/">Zurück</a>
        </div>

        <div class="legal-notice-info">
            <div class="legal-notice-info-top-container">
                <h1> {{'app.legal_notice.legal_notice' | translate}} </h1>
                <div>
                    <span class="primary-color">Angaben gemäß §5 DDG</span>
                    <span>Lukas Balz</span>
                    <span>Alexander-von-Humboldt-Weg 7</span>
                    <span>12489 Berlin</span>
                </div>
            </div>

            <div class="legal-notice-info-bottom-container">
                <span class="primary-color">Vertreten durch:</span>
                <span>Lukas Balz</span>
                <span>{{'app.legal_notice.contact' | translate}} </span>
                <span> {{'app.legal_notice.phone' | translate}} <span class="phone">+49 17661035301</span></span>
                <a href="mailto:lukasbalz.business@gmail.com">Email: <span> {{email}} </span></a>
            </div>
        </div>

        <div class="legal-notice-disclaimer-container">
            <span class="primary-color">Haftungsausschluss: </span>

            <div class="liability-for-content-container">
                <span>Haftung für Inhalte</span>
                <span> {{ liabilityForContent }} </span>
            </div>

            <div class="liability-for-links-contianer">
                <span>Haftung für Links</span>
                <span> {{ liabilityForLinks }} </span>
            </div>

            <div class="privacy-policy-container">
                <span>Datenschutz</span>
                <span> {{ privacyPolicy }} </span>
            </div>

        </div>

        <div class="legal-notice-source-container">
            <span>Quelle:</span>
            <a href="https://www.impressum-generator.de/impressum-generator/" target="_blank">
                https://www.impressum-generator.de/impressum-generator/ </a>
        </div>
    </div>
</section>