<section>
    <div class="references-container">
        <div class="title-container">
            <h4> {{'app.references.title' | translate}} </h4>
        </div>

        <div class="references-wrapper">
            <div>
                <div class="reference-container">
                    <div>
                        <span class="reference"> {{'app.references.team_partner.ben.reference' | translate}} </span>
                    </div>
                    <div class="name-container">
                        <div class="line"></div>
                        <span class="name"> {{'app.references.team_partner.ben.name' | translate}} </span>
                    </div>
                </div>
                <div class="second-reference-container">

                </div>
                <div class="third-reference-container">

                </div>
            </div>
            <div class="change-reference-container">

            </div>
        </div>
    </div>
</section>