<section>
    <div class="references-page-container">
        <div class="title-container">
            <h4> {{'app.references.title' | translate}} </h4>
        </div>

        <div class="references-wrapper">
            <div class="references-container">
                @for (reference of references; track $index) {
                <div class="reference" [ngClass]="getReferenceClass($index)">
                    <div class="reference-text-container">
                        <span class="reference-text"> {{ reference.reference | translate }} </span>
                    </div>

                    <div class="name-container">
                        <div class="line"></div>
                        <span class="name">{{ reference.name | translate }}</span>
                    </div>
                </div>
                }
            </div>

            <div class="change-reference-container">
                <img 
                [src]="previousArrowImg" 
                (mouseover)="previousArrowImg = './assets/icon/references_arrow_previous_hover.png'"
                (mouseleave)="previousArrowImg = './assets/icon/references_arrow_previous.png'"
                (click)="previousReference()"
                class="arrow previous" />
                <div class="dots">
                    @for (reference of references; track $index) {
                    <span [class.active]="$index === currentIndex"></span>
                    }
                </div>
                <img
                [src]="nextArrowImg" 
                (mouseover)="nextArrowImg = './assets/icon/references_arrow_next_hover.png'"
                (mouseleave)="nextArrowImg = './assets/icon/references_arrow_next.png'"
                (click)="nextReference()"
                class="arrow next" />
            </div>
        </div>
    </div>
</section>