<section id="landingPage">
    <div class="landing-page-content-wrapper">

        <div class="left-line-button-container">
            <div class="button-container">
                <a class="button" href="#aboutMe">
                    <img class="arrow_img" src="./assets/icon/white_arrow_down.png" alt="">
                </a>
            </div>
            <div class="left-line"></div>
        </div>

        <div class="main-content">
            <h4>{{ 'app.landing_page.fe_dev' | translate }}</h4>
            <div class="name-nav-btns-container">
                <h1 class="name">Lukas Balz</h1>
                <div class="nav-btns-container">
                    <a href="#portfolioProjects" class="link-btn">
                        <span class="link-btn-text">{{ 'app.landing_page.check_work' | translate }}</span>
                    </a>
                    <a href="#contactMe" class="link-btn">
                        <span class="link-btn-text">{{ 'app.landing_page.contact_me' | translate }}</span>
                    </a>
                </div>
            </div>
        </div>
    
        <div class="right-line-buttons-email-container">
            <div class="buttons-email-container">
                <a class="email" href="mailto: {{ email }}">
                    {{ email }}
                </a>
                
                <div class="buttons-container">
                    <a class="email-logo" href="mailto: {{ email }}">
                        <img 
                        [src]="currentEmailIcon"
                        (mouseover)="currentEmailIcon = icons.email.hover"
                        (mouseleave)="currentEmailIcon = icons.email.normal"
                        alt="">
                    </a>

                    <a href="https://github.com/lbalz" target="_blank">
                        <img 
                        [src]="currentGithubIcon"
                        (mouseover)="currentGithubIcon = icons.github.hover"
                        (mouseleave)="currentGithubIcon = icons.github.normal"
                        alt="">
                    </a>
                    <a href="https://www.linkedin.com/in/lukas-balz-423491339/" target="_blank"> 
                        <img 
                        [src]="currentLinkedinIcon"
                        (mouseover)="currentLinkedinIcon = icons.linkedin.hover"
                        (mouseleave)="currentLinkedinIcon = icons.linkedin.normal"
                        alt="">
                    </a>
                </div>
            </div>
            <div class="right-line"></div>
        </div>
    </div>

    <div class="marquee-container">
        <div class="marquee-content">
            <span class="radio-button"></span>
            <span>{{ 'app.landing_page.marquee.fe_dev' | translate }}</span>
            <span class="radio-button"></span>
            <span>{{ 'app.landing_page.marquee.based' | translate }}</span>
            <span class="radio-button"></span>
            <span>{{ 'app.landing_page.marquee.open' | translate }}</span>
            <span class="radio-button"></span>
            <span>{{ 'app.landing_page.marquee.available' | translate }}</span>
            <!-- duplicated content -->
            <span class="radio-button"></span>
            <span>{{ 'app.landing_page.marquee.fe_dev' | translate }}</span>
            <span class="radio-button"></span>
            <span>{{ 'app.landing_page.marquee.based' | translate }}</span>
            <span class="radio-button"></span>
            <span>{{ 'app.landing_page.marquee.open' | translate }}</span>
            <span class="radio-button"></span>
            <span>{{ 'app.landing_page.marquee.available' | translate }}</span>
            <span class="radio-button"></span>
        </div>
    </div>
</section>