section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-content-wrapper {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 96px;
    padding-right: 96px;

    @media (max-width: 660px) {
        padding-left: 48px;
        padding-right: 48px;
    }

    @media (max-width: 500px) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (max-width: 360px) {
        padding-left: 16px;
        padding-right: 16px;
    }

    @media (max-width: 335px) {
        padding-left: 4px;
        padding-right: 4px;
    }
}

.left-line-button-container {
    width: 32px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 590px;


    .button-container {
        width: 32px;
        height: 48px;
        border-radius: 16px;
        border: 1px solid #3DCFB6;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .button {
            width: auto;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .arrow_img {
                animation: bounce 2s infinite;
            }
        }
    }

    .left-line {
        width: 1px;
        height: 240px;
        background-color: #3DCFB6;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    @media (max-width: 800px) {
        padding-bottom: 150px;
    }

    >h4 {
        font-family: 'FiraCode-Light';
        font-size: 40px;
        font-weight: lighter;

        @media (max-width: 850px) {
            font-size: 32px;
        }

        @media (max-width: 800px) {
            font-size: 28px;
        }

        @media (max-width: 660px) {
            font-size: 24px;
        }

        @media (max-width: 500px) {
            font-size: 20px;
        }

        @media (max-width: 360px) {
            font-size: 16px;
        }
    }

    .name-nav-btns-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 40px;

        .name {
            font-family: 'Karla-Regular';
            font-size: 128px;

            @media (max-width: 1050px) {
                font-size: 112px;
            }

            @media (max-width: 850px) {
                font-size: 96px;
            }

            @media (max-width: 800px) {
                font-size: 80px;
            }

            @media (max-width: 660px) {
                font-size: 64px;
            }

            @media (max-width: 500px) {
                font-size: 48px;
            }

            @media (max-width: 360px) {
                font-size: 40px;
            }
        }

        .nav-btns-container {
            display: flex;
            gap: 48px;

            .link-btn {
                width: 180px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 24px;
                border: 1px solid white;
                cursor: pointer;
                overflow: clip;
                text-decoration: none;
                color: #FFFFFF;
                font-family: 'Karla-Regular';
                font-size: 18px;

                &:hover {
                    border-color: #3DCFB6;
                    
                    
                    >.link-btn-text {
                        width: 180px;
                        height: 48px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #3DCFB6;
                        position: relative;
                        animation: slide-out-in 2.5s infinite;
                    }
                }

                @media (max-width: 800px) {
                    width: 150px;
                    height: 40px;
                    border-radius: 20px;
                    font-size: 16px;
                }

                @media (max-width: 500px) {
                    width: 110px;
                    height: 32px;
                    border-radius: 16px;
                    font-size: 12px;
                }
            }

            @media (max-width: 800px) {
                gap: 32px;
            }

            @media (max-width: 500px) {
                gap: 24px;
            }
        }
    }
}

.right-line-buttons-email-container {
    width: 32px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 326px;
    gap: 24px;

    @media (max-width: 800px) {
        margin-top: 578px;
    }

    .buttons-email-container {
        width: 32px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .email {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            text-decoration: none;
            color: #FFFFFF;
            font-family: 'Karla-Medium';
            font-size: 18px;

            &:hover {
                color: #3DCFB6;
            }
        }

        .email-logo {
            display: none;
        }

        @media (max-width: 800px) {
            .email {
                display: none;
            }

            .email-logo {
                display: flex;
            }
        }

        .buttons-container {
            width: 32px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }

        .buttons-container a {
            position: relative;
        }

        .buttons-container a::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -16px;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            background-color: #3DCFB6;
            border-radius: 50%;
            opacity: 0;
        }

        .buttons-container a:hover::after {
            opacity: 1;
        }

    }

    .right-line {
        width: 1px;
        height: 186px;
        background-color: #FFFFFF;
    }
}


.marquee-container {
    width: 100%;
    max-width: 1440px;
    height: 64px;
    background-color: #FFFFFF1F;
    backdrop-filter: blur(5.3px);
    overflow: clip;
    position: absolute;
    bottom: 63px;
    display: flex;
    align-items: center;
    transform: rotate(353deg);

    // @media (max-width: 1278px) {
    //     transform: rotate();
    //     bottom: 63px;
    // }

    @media (max-width: 800px) {
        height: 56px;
    }

    @media (max-width: 500px) {
        height: 48px;
    }
}

.marquee-content {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 56px;
    animation: marquee 10s linear infinite;
    white-space: nowrap;
    font-family: "Karla-Medium";
    color: #3DCFB6;
    font-size: 32px;

    @media (max-width: 800px) {
        font-size: 28px;
    }

    @media (max-width: 500px) {
        font-size: 24px;
    }
}

.radio-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3DCFB6;
}

/* Animations */

/* Marquee */
@keyframes marquee {
    to {
        transform: translateX(-50%);
    }
}

@keyframes test {
    to {
        transform: translateX(-125%);
    }
}

/* Arrow img */
@keyframes bounce {
    0%, 100% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }
}

/* main-content buttons */
@keyframes slide-out-in {
    0% {
        left: 0;
    }

    29% {
        left: -120%;
    }

    30% {
        opacity: 0;
        left: 120%;
    }
    
    31% {
        opacity: 1;
    }

    80% {
        left: 0;
    }
}