<section id="landingPage">
    <div class="landing-page-content-wrapper">

        <div class="left-line-button-container">
            <div class="button-container">
                <div class="button">
                    <img class="arrow_img" src="./assets/icon/white_arrow_down.png" alt="">
                </div>
            </div>
            <div class="left-line"></div>
        </div>

        <div class="main-content">
            <h4>Frontend Developer</h4>
            <div>
                <h1>Lukas Balz</h1>
                <div>
                    <div>
                        <a href="#projects">Check my work</a>
                    </div>
                    <div>
                        <a href="#contact">Contact me</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="right-line-buttons-email-container">
            <div class="buttons-email-container">
                <div class="email-container">
                    <a class="email" href="mailto: {{ email }}">
                        {{ email }}
                    </a>
    
                    <a class="email-logo" href="">
                        <img 
                        [src]="currentEmailIcon"
                        (mouseover)="currentEmailIcon = icons.email.hover"
                        (mouseleave)="currentEmailIcon = icons.email.normal"
                        alt="">
                    </a>
                </div>
                <div class="buttons-container">
                    <a href="https://github.com/lbalz" target="_blank">
                        <img 
                        [src]="currentGithubIcon"
                        (mouseover)="currentGithubIcon = icons.github.hover"
                        (mouseleave)="currentGithubIcon = icons.github.normal"
                        alt="">
                    </a>
                    <a href="https://www.linkedin.com/in/lukas-balz-423491339/" target="_blank"> 
                        <img 
                        [src]="currentLinkedinIcon"
                        (mouseover)="currentLinkedinIcon = icons.linkedin.hover"
                        (mouseleave)="currentLinkedinIcon = icons.linkedin.normal"
                        alt="">
                    </a>
                </div>
            </div>
            <div class="right-line"></div>
        </div>
    </div>

    <div class="marquee-container">
        <div class="marquee-content">
            <span class="radio-button"></span>
            <span>Frontend Developer</span>
            <span class="radio-button"></span>
            <span>Based in Berlin</span>
            <span class="radio-button"></span>
            <span>Open to work</span>
            <span class="radio-button"></span>
            <span>Available for remote work</span>
            <!-- duplicated content -->
            <span class="radio-button"></span>
            <span>Frontend Developer</span>
            <span class="radio-button"></span>
            <span>Based in Berlin</span>
            <span class="radio-button"></span>
            <span>Open to work</span>
            <span class="radio-button"></span>
            <span>Available for remote work</span>
            <span class="radio-button"></span>
        </div>
    </div>
</section>