body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

section {
    width: 100%;
    height: 100vh;
    // background-image: url('../../assets/img/atf_background.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    background: linear-gradient(to top right, #1C1C1C 50%, #084638 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.header-wrapper {
    width: 1440px;
    height: 96px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 200px;

    >h4 {
        font-family: 'FiraCode-Light';
        font-size: 40px;
    }

    >div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 40px;

        >h1 {
            font-family: 'Karla-Regular';
            font-size: 128px;
        }

        >div {
            display: flex;
            gap: 48px;

            >div {
                width: 180px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 24px;
                border: 1px solid white;
                cursor: pointer;
                overflow: hidden;

                &:hover {
                    border-color: #3DCFB6;
                    
                    
                    >a {
                        color: #3DCFB6;
                        position: relative;
                        animation: slide-out-in 2s ease infinite;
                    }
                }
    
                >a {
                    text-decoration: none;
                    color: white;
                    font-family: 'Karla-Regular';
                    font-size: 18px;
                }
            }
        }
    }
}


@keyframes slide-out-in {
    0% {
        left: 0;
    }

    29% {
        left: -120%;
    }

    30% {
        opacity: 0;
        left: 120%;
    }
    
    31% {
        opacity: 1;
    }

    80% {
        left: 0;
    }
}