/* You can add global styles to this file, and also import other style files */
@import url('./assets/fonts/fira-code/fira-code.scss');
@import url('./assets/fonts/karla/karla.scss');

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}