/* You can add global styles to this file, and also import other style files */
@import url('./assets/fonts/fira-code/fira-code.scss');
@import url('./assets/fonts/karla/karla.scss');

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #3DCFB6;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #1C1C1C;
}

:root {
    --mouse-x: 0px;
    --mouse-y: 0px;
}

.cursor-shadow {
    width: 50px;
    height: 50px;
    background-color: #3DCFB680;
    position: absolute;
    left: var(--mouse-x);
    top: var(--mouse-y);
    backdrop-filter: blur(90px)
}