/* You can add global styles to this file, and also import other style files */
@import url('./assets/fonts/fira-code/fira-code.scss');
@import url('./assets/fonts/karla/karla.scss');

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #3DCFB6;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #1C1C1C;
}

:root {
    --mouse-x: 0px;
    --mouse-y: 0px;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--cursor-x, 50%) var(--cursor-y, 50%), #3dcfb6, transparent 13%);
    pointer-events: none;
    mix-blend-mode: screen;
    will-change: background-position;
    opacity: 0.15;
    z-index: 1001;
}