<section id="skills">
    <div class="skills-wrapper">
        <div class="left-wrapper">
            <h5 class="small-headline"> {{'app.skills.technologies' | translate}} </h5>
    
            <div class="skill-set-container">
                <h3 class="skill-set-headline"> {{'app.skills.skill_set' | translate}} </h3>
    
                <div class="skill-set-text-wrapper">
                    <div class="skill-text-container">
                        <span class="skill-text"> {{'app.skills.skill_text' | translate}} </span>
                    </div>
    
                    <div class="need-skill-wrapper">
                        <div class="need-skill-container">
                            <span class="you-need"> {{'app.skills.you_need' | translate}} </span>
                            <span class="another-skill"> {{'app.skills.another_skill' | translate}} </span>
                        </div>
    
                        <span class="feel-free"> {{'app.skills.feel_free' | translate}} </span>
                    </div>
                </div>

                <a class="lets-talk-container" href="#contactMe">
                    <span class="lets-talk"> {{'app.skills.lets_talk' | translate}} </span>
                </a>
            </div>
        </div>
    
        <div class="right-wrapper">
            @for (skillIcon of skillIcons; track $index) {
            <div>
                <img src="{{ skillIcon.path }}" alt="">
                <span> {{ skillIcon.text }} </span>
            </div>
            }
            <div class="tech-enthusiasm-container">
                <img src="./assets/icon/tech-enthusiasm.png" alt="">
                <span> {{'app.skills.tech_enthusiasm' | translate}} </span>
                <div class="tooltip-container">
                    <span> {{'app.skills.tech_enthusiasm_hover' | translate}} </span>
                    <div>
                        <div>
                            <img src="./assets/icon/react.png" alt="">
                            <span>React</span>
                        </div>

                        <div>
                            <img src="./assets/icon/vue.png" alt="">
                            <span>Vue Js</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>