$primary-color: #3DCFB6;
$secondary-color: #FFFFFF;

section {
    width: 1440px;
    height: 720px;
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Karla-Regular";
}

.skills-wrapper {
    width: 1200px;
    height: 100%;
    display: flex;
    gap: 100px;
    cursor: default;
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .small-headline {
        font-size: 24px;
        color: $primary-color;
    }

    .skill-set-container {
        width: 520px;
        height: 480px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        background: #3DCFB61A;
        border-radius: 32px;
        border: 1px solid $primary-color;
        padding: 24px;

        .skill-set-headline {
            font-size: 64px;
            color: $primary-color;
        }

        .skill-set-text-wrapper {
            display: flex;
            flex-direction: column;
            gap: 32px;
            color: $secondary-color;
            font-family: "Karla-Light";

            .skill-text-container {
                text-align: justify;

                .skill-text {
                    font-size: 18px;
                }
            }

            .need-skill-wrapper {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .need-skill-container {
                    font-size: 24px;

                    .you-need {
                        font-weight: bold;
                    }

                    .another-skill {
                        font-weight: bold;
                        color: $primary-color;
                    }
                }

                .feel-free {
                    font-size: 16px;
                }
            }
        }

        .lets-talk-container {
            width: 120px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 24px;
            border: 1px solid $secondary-color;
            overflow: clip;
            cursor: pointer;

            .lets-talk {
                text-decoration: none;
                color: $secondary-color;
                font-size: 18px;
                font-family: "Karla-Light";
            }

            &:hover {
                border-color: $primary-color;
                transition: ease 0.75s;

                >a {
                    color: $primary-color;
                    position: relative;
                    animation: slide-out-in 2.5s infinite;
                }
            }
        }
    }
}

.right-wrapper {
    width: 640px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding-top: 64px;

    >div {
        width: 72px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        >img {
            width: 64px;
            height: 64px;
        }

        >span {
            font-family: "FiraCode-Light";
            color: $secondary-color;
            font-size: 18px;
            text-wrap: wrap;
            text-align: center;
        }

        &:hover {
            >img {
                transform: scale(1.1);
                transition: transform 0.5s ease;
            }
        }
    }

    .tech-enthusiasm-container {
        position: relative;

        &:hover >span {
            transition: color 0.3s ease;
            color: $primary-color;
        }

        &:hover .tooltip-container {
            opacity: 1;
        }

        .tooltip-container {
            opacity: 0;
            width: 180px;
            height: 112px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            background-color: $secondary-color;
            position: absolute;
            bottom: 112px;
            border-radius: 16px;
            padding: 4px 12px;
            text-wrap: wrap;
            text-align: center;
            transition: opacity 0.3s ease-in;

            >span {
                font-family: "Karla-Light";
                color: $primary-color;
                font-size: 16px;
            }

            >div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;

                >div {
                    display: flex;
                    flex-direction: column;

                    >img {
                        width: 32px;
                        height: 32px;
                    }

                    >span {
                        font-size: 12px;
                        font-weight: bold;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}



/* Animations */
/* Let's Talk button */
@keyframes slide-out-in {
    0% {
        left: 0;
    }

    29% {
        left: -120%;
    }

    30% {
        opacity: 0;
        left: 120%;
    }
    
    31% {
        opacity: 1;
    }

    80% {
        left: 0;
    }
}