$primary-color: #3DCFB6;
$secondary-color: #FFFFFF;
$secondary-color-hover: #FFFFFFCC;

section {
    width: 1440px;
    height: 720px;
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Karla-Regular";
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .small-headline {
        font-size: 24px;
        color: $primary-color;
    }

    
}

.right-wrapper {

}